<!doctype html>
<html lang="en">
<head>
  <title>Vanic App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="root" style="height: 100%"></div>
  <script src="http://localhost:3000/vendor.<%- hash %>.js"></script>
  <script src="http://localhost:3000/app.<%- hash %>.js"></script>
</body>
</html>